
          <!--DEFAULT CARD-->
          <div class="row p-2 bg-white border rounded">
            <div class="col-md-3 mt-1">
              <!-------------------------------------------------------------------------------------------PRODUCT IMAGE---------->
              <img
                class="img-fluid img-responsive rounded product-image"
                
                src="./images/air-gum.jpg"
              />
              <!--------------------------------------------------------------------------------------------------------------->
            </div>
            <div class="col-md-6 mt-1">
              <!----------->
              <h5>Nike Airforce 1 gum sole </h5><!---------------------------------------------------------PRODUCT NAME######-->
              <!--------------->
              <!--------------->
              <!--------------->
              <div class="d-flex flex-row">
                <div class="ratings mr-2">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <span>RATING</span>
              </div>
              <div class="mt-1 mb-1 spec-1">
                <!-------------------------------------------------------------------------------------------PRODUCT PROPERTIES---------->
                <span>100% VERIFIED</span><span class="dot"></span
                ><span>Available locally</span><span class="dot"></span
                ><span>Trusted seller<br /></span>
              </div>
               <!-------------------------------------------------------------------------------------------PRODUCT DESCRIPTION---------->
              <p class="text-justify para mb-0">
               Sizes available 40-44
               <br>
               Different color variations
               <br /><br />
              </p>
            </div>
            <div
              class="
                align-items-center align-content-center
                col-md-3
                border-left
                mt-1
              "
            >
              <div class="d-flex flex-row align-items-center">
                <!-------------------------------------------------------------------------------------------PRODUCT PRICE---------->
                <h4 class="mr-1">Ksh 3,000</h4>
                <span class="strike-text">KSH3,500</span>
              </div>
              <h6 class="text-success">Free delivery</h6>
              <div class="d-flex flex-column mt-4">
                <!-------------------------------------------------------------------------------------------WHATSAPP LINK---------->
               <a href="https://wa.me/qr/FCCTYZQYIMLPM1">
                <button class="btn btn-success btn-sm" type="button">
                  Whatsapp</button
                >
                </a>
                <!------------------------------------------------------------------------------------------------------------------->

                <!-------------------------------------------------------------------------------------------PHONE NUMBER---------->
                <a href="tel:0740408496">
                <button
                  class="btn btn-outline-primary btn-sm mt-2"
                  type="button"
                >
                
                  Call seller
                </button>
              </a>
                <!-------------------------------------------------------------------------------------------------------------------->
              </div>
            </div>
          </div>
          <!--DEFAULT-CARD-->